In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from apyori import apriori

# Load the dataset

In [2]:
data = pd.read_csv(r'store_data.csv')
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.shape

(7500, 20)

In [4]:
# converting the pandas dataframe to list of list
records = []
for i in range(0,7500):
    records.append([str(data.values[i,j]) for j in range(0,20)])

In [9]:
print(records[0],end=' ')

['burgers', 'meatballs', 'eggs', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']

In [11]:
# Finding the First apriori model
association_rules =apriori(records,
                           min_support=0.0045,
                           min_confidence=0.2,
                           min_lift=3,
                           min_length=2)
association_results = list(association_rules)

In [12]:
print(len(association_results))

48

In [13]:
print(association_results[0])

RelationRecord(items=frozenset({'light cream', 'chicken'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)])

In [14]:
print(association_results[1])

RelationRecord(items=frozenset({'escalope', 'mushroom cream sauce'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)])

In [15]:
# Building the second apriori model

association_rules = apriori(
                            records,
                            min_support=0.010,
                            min_confidence=0.5,
                            min_lift=2)
association_results =list(association_rules)

In [16]:
len(association_results)

4

In [17]:
association_results[0]

RelationRecord(items=frozenset({'ground beef', 'mineral water', 'eggs'}), support=0.010133333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef', 'eggs'}), items_add=frozenset({'mineral water'}), confidence=0.5066666666666666, lift=2.1264689423614995)])

In [18]:
association_results[1]

RelationRecord(items=frozenset({'ground beef', 'mineral water', 'milk'}), support=0.011066666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'ground beef', 'milk'}), items_add=frozenset({'mineral water'}), confidence=0.503030303030303, lift=2.1112072035407237)])