In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

# Load the dataset

In [2]:
data = pd.read_csv(r'Example_bank_data.csv')
data.head()

   Unnamed: 0  duration    y
0           0       117   no
1           1       274  yes
2           2       167   no
3           3       686  yes
4           4       157   no

In [3]:
data.shape

(518, 3)

In [4]:
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
data.shape

(518, 2)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  518 non-null    int64
 1   y         518 non-null    object
dtypes: int64(1), object(1)
memory usage: 8.2+ KB

In [7]:
data['y']

0       no
1      yes
2       no
3      yes
4       no
      ...
513     no
514    yes
515     no
516    yes
517     no
Name: y, Length: 518, dtype: object

In [8]:
data['y'] = data['y'].map({'yes':1,'no':0})

In [12]:
data.head()

   duration  y
0       117  0
1       274  1
2       167  0
3       686  1
4       157  0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  518 non-null    int64
 1   y         518 non-null    int64
dtypes: int64(2)
memory usage: 8.2 KB

# Declare dependent(y) and independent(X) variable

In [17]:
X = pd .DataFrame(data['duration'])
y = data['y']

In [18]:
X.shape,y.shape

((518, 1), (518,))

# set dataset into train and test set

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=.80,random_state=42)

# fit the model

In [20]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X_train,y_train)

LogisticRegression()

In [21]:
LR.score(X_train,y_train)

0.7053140096618358

# Predict the Model

In [22]:
y_pred = LR.predict(X_test)

# Finding accuracy of the model

In [25]:
from sklearn.metrics import accuracy_score
As = accuracy_score(y_test,y_pred)
As

0.6923076923076923

# Finding Confusion matrix

In [29]:
from sklearn.metrics import confusion_matrix
CM = confusion_matrix(y_test,y_pred)
CM

array([[48, 11],
       [21, 24]], dtype=int64)

In [30]:
(48+24)/(11+48+21+24)

0.6923076923076923